html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Высота окна браузера */
}

.container {
  flex: 1; /* Заставляем контейнер занимать всю доступную высоту */
}

.footer {
  background-color: #bebebe; /* Серый цвет для фона */
  padding: 20px 0;
  text-align: center;
  width: 100%; /* Растягиваем на всю ширину */
  position: relative;
  left: 0;
  bottom: 0;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 30px; /* Отступы между ссылками */
}

.footer-links a {
  text-decoration: none; /* Убираем подчеркивание */
  color: #555; /* Темно-серый цвет для ссылок */
  font-weight: bold;
  transition: color 0.3s ease; /* Плавный переход цвета при наведении */
}

.footer-links a:hover {
  color: #ffffff; /* Цвет ссылок при наведении */
}
